body {
	padding: 0;
	margin: 0;
}

.header {
	width: 100%;
	background-color: green;
	height: 350px;
	top: 0;
	padding: 1px;
}

.header h1 {
	color: white;
	text-align: center;
	font-size: 60px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 10;
	margin: 80px;
}

.columna {
	width: 33%;
	float: left;
	height: 700px;
	padding: 30px;
	top: 400px;
	box-sizing: border-box;
	border: solid 1px white;
	font-family: 'Roboto Condensed', sans-serif;
}

.img {
	width: 100%;
}
